
html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
}

.cover {
  /*background-image: url(http://i.imgur.com/guhkuBy.jpg);*/
  background-image: url(http://i.imgur.com/mNCwAqX.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.central_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.secondary_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border-top-color: rgba(255, 255, 255, 0.0980392);
  border-top-style: solid;
  border-top-width: .0000001px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav_list {
  color: #696969;
}

.si_child {
  list-style-type: none;
}

.si_child li {
  opacity: 0.5;
}

.link_heading {
  text-transform: uppercase;
  opacity: 1 !important;
}

.footer_list, .nav_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style-type: none;
  align-items: baseline;
  padding-right: 20px;
}

nav, .central_info, .secondary_info, footer {
  flex: none;
}

.footer_list li, .nav_list li {
  padding: 8px;
  margin-left: 15px;
}

.no_underline {
  text-decoration: none;
  margin-right: auto;
  color: inherit;
}

#logo {
  font-size: 30px;
  color: #FFF;
}

#headline_txt {
  max-width: 375px;
  width: 100%;
  display:block;
  margin: 40px auto 22px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

#subhead_txt {
  max-width: 275px;
  width: 100%;
  display:block;
  margin: 20px auto 22px;
  text-align: center;
}

.email_submit {
  padding:30px;
  padding-bottom: 40px;
  border-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  text-align: center;
}

.button_input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

#email_input {
  margin-bottom: 0;
  font-size: 1.249rem;
  padding: .743rem;
  width: 240px;
  line-height: normal;
  border: 1px solid #C5C5C5;
  border-radius: .25rem;
  color: #A9A9A9;
  margin-right: 7px!important;
  margin-left: 0!important;
}

#email_button {
  border: 1px solid #56B68B;
  background: #56B68B;
  color: #FFF;
  font-weight: 700;
  box-sizing: border-box;
  font-size: 1.2rem;
  opacity: 1;
  line-height: 3rem;
  margin: 0;
  text-align: center;
  border-radius: .25rem;
  font-family: inherit;
}

.nav_list li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #FFF;
  border-radius: 0.25rem;
}

#double_border:hover {
  background-color: rgba(255, 255, 255, 0);
  color: 	#FFFFFF;
  border: 3px solid  #FFFFFF;
}

#double_border {
  border: 3px solid #696969;
  border-radius: .25rem;
  padding: 12px;
}


footer {
  background-color:  #000032;
  padding-right: 100px;
}

#toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.menu_screen {
  opacity: 0;
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  top: -195px;
  left: 0px;
  background: url(http://i.imgur.com/guhkuBy.jpg) center;
  display: flex;
  position: fixed;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.dep_opposite {
  display: none;
}

@media only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {

  .menu_screen {
    transition: all 0.4s ease;
  }

  #double_border {
    border: 3px solid #FFF;
    border-radius: .25rem;
    padding: 12px;
    color: #FFF;
  }

  .dep_opposite {
    display: block;
  }

  .button_input {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  #email_button, #email_input {
    width: 265px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    box-sizing: content-box;
    margin-bottom: 8px;
  }

  .si_child li:not(.link_heading), .deprecate {
    display: none;
  }

  .secondary_info {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items:flex-start;
  }

  label {
    position: relative;
    display: block;
    font: inherit;
  }

  /*http://stackoverflow.com/questions/3250790/making-a-div-that-covers-the-entire-page*/
  #toggle:checked ~ .menu_screen {
    width:100%;
    height:100%;
    background: url(http://i.imgur.com/guhkuBy.jpg) center;
    opacity: 1;
    top:0px;
    left: 0px;
    transition: all 0.5s ease;
  }

  #toggle:checked ~ .menu_screen #ms_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    align-items: baseline;
    padding: 10px;
  }

  #toggle:checked ~ .menu_screen #ms_top li {
    font-weight: bold;
    font-size: 30px;
    width: 50% !important;
    color: #FFF;
  }

  #toggle:checked ~ .menu_screen #ms_top #ms_x {
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
    margin-right: 20px;
  }

  /*     identical ^    */
  #toggle:checked ~ .menu_screen #ms_rest li {
    font-weight: bold;
    font-size: 30px;
    width: 50% !important;
    color: #FFF;
    padding-top: 20px;
  }

  #toggle:checked ~ .menu_screen #ms_top #ms_logo {
    color: rgba(255, 255, 255, 0.5);
  }

  #toggle:checked ~ .menu_screen #ms_top #ms_logo:hover {
    color: rgba(255, 255, 255, 1);
  }

  #toggle:checked ~ .menu_screen #ms_rest {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    list-style-type: none;
    align-items: baseline;
    padding: 10px;
  }

  #toggle:checked ~ .menu_screen #ms_top li:hover {
    background-color: transparent !important;
  }

  #toggle:checked ~ .menu_screen #ms_rest li:hover {
    box-shadow: 10px 7px;
    background-color: transparent !important;
  }

}
